@import "./variables.scss";

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

body {
  height: 100%;
  font-family: "Raleway", sans-serif;
  margin: 0;
  color: $black;

  p {
    font-size: 16px;
  }
}

button {
  font-family: "Raleway", sans-serif;
}

.columns {
  margin-left: 0;
  margin-right: 0;
}

.container-fluid {
  width: 100%;
}

.wrapper,
.project-container,
footer {
  background-image: url(../assets/img/textures.png);
}

.square-wrapper {
  background-image: url("../assets/img/square.png");
}

.navbar {
  background-color: transparent;
  .navbar-item {
    color: #d1d0d0;
    transition-duration: 1s;
    font-size: 18px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: white;
      background-color: $black;
    }

    img {
      width: 50px;
      max-height: 50px;
    }
  }
  .navbar-burger {
    color: $pewter;
  }

  .navbar-menu {
    &.is-active {
      background-image: url(../assets/img/textures.png);
    }
  }
}

// hero

.hero {
  padding-top: 60px;
  @media screen and (min-width: 992px) {
    padding-left: 0;
    padding-right: 0;
  }
  img {
    display: block;
  }
  h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    @media screen and (min-width: 992px) {
      font-size: 80px;
      text-align: left;
    }
  }
  h3 {
    font-size: 35px;
    text-align: center;
    @media screen and (min-width: 992px) {
      text-align: left;
      font-size: 40px;
    }
  }
}

.hero-container {
  margin-bottom: 0 !important;
  .hero-text {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;

    h3 {
      color: $pewter;
    }
  }
  .hero-image-container {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
  }
  .hero-btns {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    @media screen and (min-width: 992px) {
      justify-content: left;
      margin-bottom: 0;
    }
    a {
      background: $lightBrown;
      color: white;
      border: none;
      margin-top: 15px;
      text-transform: capitalize;
      transition-duration: 1s;
      &:hover {
        background: $brown;
      }
    }
  }
}

// about

section {
  scroll-margin-top: 64px;
}

.about {
  padding-top: 90px;
  padding-bottom: 60px;
  margin: 0 auto;
  text-align: center;
  @media screen and (min-width: 992px) {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }
  h2 {
    color: $black;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 16px;
    font-weight: bold;
  }
  p {
    color: $black;
  }
  .about-image-container {
    display: flex;
    align-items: center;
    .coding {
      height: auto;
      width: 100%;
      @media screen and (min-width: 992px) {
        width: 400px;
      }
    }
  }

  .column {
    &:last-child {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}

// project

.project-container {
  padding-top: 0;
  padding-bottom: 60px;
  .separator {
    margin-top: -1px;
  }
  .project {
    padding-top: 60px;
    @media screen and (min-width: 992px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  h2 {
    text-align: center;
    font-size: 50px;
    color: white;
    margin-bottom: 50px;
  }

  .card {
    flex: 1;
    flex-basis: 300px;
    flex-grow: 0;
    height: auto;
    background: none;
    border: 2px solid #fff;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
      object-fit: cover;
      object-position: center;
    }
    .descriptions {
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: rgba(34, 34, 34, 0.7);
      width: 100%;
      height: 100%;
      transition: all 0.7s ease-in-out;
      padding: 20px;
      box-sizing: border-box;
      clip-path: circle(0% at 100% 100%);
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        margin-left: 2px !important;
      }
    }
  }

  .card:hover .descriptions {
    left: 0px;
    transition: all 0.7s ease-in-out;
    clip-path: circle(75%);
  }
  .card:hover {
    transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    transform: scale(0.97);
  }
  .card:hover img {
    transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transform: scale(1.6) rotate(20deg);
    filter: blur(3px);
  }
  .card a {
    width: 100%;
    height: 40px;
    cursor: pointer;
    border-style: none;
    background-color: $pewter;
    color: $black;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    &:first-child {
      margin-right: 5px;
    }
  }
}

.project-content {
  color: white;
  padding-top: 20px;

  h3 {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
  }
  p {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.contact-container {
  padding-top: 100px;
  padding-bottom: 50px;

  h2 {
    font-size: 50px;
    color: $black;
    text-align: center;
    line-height: 50px;
    margin-bottom: 16px;
    @media screen and (min-width: 992px) {
      text-align: left;
    }
  }

  p {
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width: 992px) {
      text-align: left;
    }
  }

  .contact {
    padding-left: 15px;
    padding-right: 15px;
    @media only screen and (min-width: 992px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
    }

    .column {
      &:last-child {
        display: flex;
        justify-content: center;
      }
    }

    br {
      display: none;
      @media only screen and (min-width: 992px) {
        display: block;
      }
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: left;

    .icon {
      margin-bottom: 20px;
    }
  }

  .icon-email,
  .icon-phone {
    font-size: 30px;
    color: $brown;
    cursor: pointer;
  }
  .email,
  .phone {
    margin-left: 10px;
  }

  .talk {
    height: auto;
    width: 100%;
    @media only screen and (min-width: 992px) {
      width: 400px;
    }
  }
}

// footer

footer {
  background-color: $brown;
  color: $pewter;
  text-align: center;

  p {
    text-align: center;
    @media only screen and (min-width: 992px) {
      text-align: left;
    }
  }

  .icon i {
    font-size: 20px;
  }

  .columns {
    .column {
      &:last-child {
        display: flex;
        justify-content: center;
        @media only screen and (min-width: 992px) {
          justify-content: right;
        }
        .icon {
          &:first-child {
            margin-right: 8px;
          }
        }
      }
    }
  }

  a {
    color: $pewter;
    line-height: 16px;

    &:hover {
      color: $pewter;
    }
  }
}
