html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

body {
  height: 100%;
  font-family: "Raleway", sans-serif;
  margin: 0;
  color: #222222;
}
body p {
  font-size: 16px;
}

button {
  font-family: "Raleway", sans-serif;
}

.columns {
  margin-left: 0;
  margin-right: 0;
}

.container-fluid {
  width: 100%;
}

.wrapper,
.project-container,
footer {
  background-image: url(../assets/img/textures.png);
}

.square-wrapper {
  background-image: url("../assets/img/square.png");
}

.navbar {
  background-color: transparent;
}
.navbar .navbar-item {
  color: #d1d0d0;
  transition-duration: 1s;
  font-size: 18px;
  font-weight: bold;
}
.navbar .navbar-item:hover, .navbar .navbar-item:focus {
  color: white;
  background-color: #222222;
}
.navbar .navbar-item img {
  width: 50px;
  max-height: 50px;
}
.navbar .navbar-burger {
  color: #d1d0d0;
}
.navbar .navbar-menu.is-active {
  background-image: url(../assets/img/textures.png);
}

.hero {
  padding-top: 60px;
}
@media screen and (min-width: 992px) {
  .hero {
    padding-left: 0;
    padding-right: 0;
  }
}
.hero img {
  display: block;
}
.hero h1 {
  color: white;
  font-size: 40px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .hero h1 {
    font-size: 80px;
    text-align: left;
  }
}
.hero h3 {
  font-size: 35px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .hero h3 {
    text-align: left;
    font-size: 40px;
  }
}

.hero-container {
  margin-bottom: 0 !important;
}
.hero-container .hero-text {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.hero-container .hero-text h3 {
  color: #d1d0d0;
}
.hero-container .hero-image-container {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}
.hero-container .hero-btns {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 992px) {
  .hero-container .hero-btns {
    justify-content: left;
    margin-bottom: 0;
  }
}
.hero-container .hero-btns a {
  background: rgba(92, 78, 78, 0.8117647059);
  color: white;
  border: none;
  margin-top: 15px;
  text-transform: capitalize;
  transition-duration: 1s;
}
.hero-container .hero-btns a:hover {
  background: #5c4e4e;
}

section {
  scroll-margin-top: 64px;
}

.about {
  padding-top: 90px;
  padding-bottom: 60px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .about {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }
}
.about h2 {
  color: #222222;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 16px;
  font-weight: bold;
}
.about p {
  color: #222222;
}
.about .about-image-container {
  display: flex;
  align-items: center;
}
.about .about-image-container .coding {
  height: auto;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .about .about-image-container .coding {
    width: 400px;
  }
}
.about .column:last-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project-container {
  padding-top: 0;
  padding-bottom: 60px;
}
.project-container .separator {
  margin-top: -1px;
}
.project-container .project {
  padding-top: 60px;
}
@media screen and (min-width: 992px) {
  .project-container .project {
    padding-left: 0;
    padding-right: 0;
  }
}
.project-container h2 {
  text-align: center;
  font-size: 50px;
  color: white;
  margin-bottom: 50px;
}
.project-container .card {
  flex: 1;
  flex-basis: 300px;
  flex-grow: 0;
  height: auto;
  background: none;
  border: 2px solid #fff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
}
.project-container .card img {
  width: 100%;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.project-container .card .descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(34, 34, 34, 0.7);
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  -webkit-clip-path: circle(0% at 100% 100%);
          clip-path: circle(0% at 100% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-container .card .descriptions .icon {
  margin-left: 2px !important;
}
.project-container .card:hover .descriptions {
  left: 0px;
  transition: all 0.7s ease-in-out;
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
}
.project-container .card:hover {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.97);
}
.project-container .card:hover img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}
.project-container .card a {
  width: 100%;
  height: 40px;
  cursor: pointer;
  border-style: none;
  background-color: #d1d0d0;
  color: #222222;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}
.project-container .card a:first-child {
  margin-right: 5px;
}

.project-content {
  color: white;
  padding-top: 20px;
}
.project-content h3 {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
}
.project-content p {
  font-size: 14px;
  margin-bottom: 20px;
}

.contact-container {
  padding-top: 100px;
  padding-bottom: 50px;
}
.contact-container h2 {
  font-size: 50px;
  color: #222222;
  text-align: center;
  line-height: 50px;
  margin-bottom: 16px;
}
@media screen and (min-width: 992px) {
  .contact-container h2 {
    text-align: left;
  }
}
.contact-container p {
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .contact-container p {
    text-align: left;
  }
}
.contact-container .contact {
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 992px) {
  .contact-container .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
}
.contact-container .contact .column:last-child {
  display: flex;
  justify-content: center;
}
.contact-container .contact br {
  display: none;
}
@media only screen and (min-width: 992px) {
  .contact-container .contact br {
    display: block;
  }
}
.contact-container .info-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.contact-container .info-container .icon {
  margin-bottom: 20px;
}
.contact-container .icon-email,
.contact-container .icon-phone {
  font-size: 30px;
  color: #5c4e4e;
  cursor: pointer;
}
.contact-container .email,
.contact-container .phone {
  margin-left: 10px;
}
.contact-container .talk {
  height: auto;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .contact-container .talk {
    width: 400px;
  }
}

footer {
  background-color: #5c4e4e;
  color: #d1d0d0;
  text-align: center;
}
footer p {
  text-align: center;
}
@media only screen and (min-width: 992px) {
  footer p {
    text-align: left;
  }
}
footer .icon i {
  font-size: 20px;
}
footer .columns .column:last-child {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 992px) {
  footer .columns .column:last-child {
    justify-content: right;
  }
}
footer .columns .column:last-child .icon:first-child {
  margin-right: 8px;
}
footer a {
  color: #d1d0d0;
  line-height: 16px;
}
footer a:hover {
  color: #d1d0d0;
}/*# sourceMappingURL=style.css.map */